.profile-pic {
  width: 240px;
  height: 240px;
  background-color: greenyellow;
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(221, 221, 221);
  margin: auto;
  margin-top: 10vh;
  background-image: url("https://avatars.githubusercontent.com/u/86942695?v=4");
  background-size: contain;
  background-size: cover;
  background-size: 100%;
}

.profile-info {
  width: 300px;
  height: 100px;
  margin: auto;
  margin-top: 25px;
  color: black;
}

.info-prompt {
  width: 300px;
  margin: auto;
  margin-top: 8px;
  background-color: rgb(214, 214, 214);
  border-radius: 20px;
  font-size: 12px;
  font-weight: bolder;
  padding: 10px 0px;
  color: black;
}
