.card {
  background-color: white;
  margin: auto;
  width: 500px;
  text-align: left;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 10px;
  padding: 40px 60px;
  border-radius: 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 50px;
  height: 600px;
}

.title {
  font-size: 24px;
  text-transform: uppercase;
}

.item {
  margin-bottom: 20px;
}

.column {
  float: left;
  width: 50%;
  /*padding: 10px;*/
  height: 300px; /* Should be removed. Only for demonstration */
}

.tile-column {
  margin-right: 20px;
  line-height: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  width: 100%;
}

.paragraph {
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.6;
  font-size: 12px;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
