.links {
  font-size: 12px;
}

.contact {
  height: 40px;
  border-radius: 5px;
  background-color: black;
  margin: 8px 0px;
}

.contact-icon {
  font-size: 15px;
  text-align: center;
  height: 100%;
}

.contact-icon a {
  color: white;
}
